## print
Displays the value within the parentheses

Multiple values can be separated by commas

`end=` can be used to change the default newline operation to a different operation

In [1]:
print(5)

N = 'hemma'
print('name: ', N)

print('number: ', end='')
print(10)

5
name:  hemma
number: 10

## type
Returns the data type of the value within the parentheses

In [2]:
A = 5

B = 5.0

C = '5'

print( type(A) )

print( type(B) )

print( type(C) )

<class 'int'>
<class 'float'>
<class 'str'>

## input
Accepts typed input from the user.

Outputs the typed input as string data. 

The function argument is a string, which is the prompt displayed to the user.

In [6]:
N = input('Enter a number: ')

print(N, type(N))

N = float(N)

print(N, type(N))

print(N**2)

Enter a number: 4
4 <class 'str'>
4.0 <class 'float'>
16.0