**Example 1**: Print the numbers 1 to 10 with the help of the `range` function.

In [1]:
for n in range(1, 11):
    print(n)

1
2
3
4
5
6
7
8
9
10

***

**Example 2**: Print the squares of the first five integers

In [2]:
for n in range(1,6):
    print(n**2)

1
4
9
16
25

***

**Example 3**: Loop over a list of strings

In [3]:
cities = ['Toronto', 'Barcelona', 'London']
for c in cities:
    print("I'd like to be in", c)

I'd like to be in Toronto
I'd like to be in Barcelona
I'd like to be in London

***

**Example 4**: Looping with zip

In [4]:
cities = ['Toronto', 'Barcelona', 'London']
seasons = ['summer', 'spring', 'summer']
for c,s in zip(cities, seasons):
    print("I'd like to be in", c, "in the", s)

I'd like to be in Toronto in the summer
I'd like to be in Barcelona in the spring
I'd like to be in London in the summer

***

**Example 5**: Sum the first five integers and print the final value

In [5]:
sum = 0
for i in range(1,6):
    sum += i
print(sum)

15

***

**Example 6**: print the first few even intergers

In [6]:
for i in range(1,10):
    
    if i % 2 == 0:
        print(i)
    
    else:
        print('-')

-
2
-
4
-
6
-
8
-

* * *

**Example 7**: print the square numbers that are smaller than 100.

In [7]:
i = 1
while i * i < 100:
    print(i * i)
    i += 1

1
4
9
16
25
36
49
64
81

In [8]:
cities = ['Toronto', 'Barcelona', 'London']
i = 0
while (i < len(cities)):
    print(cities[i])
    i += 1

Toronto
Barcelona
London